.label-contact {
    font-weight: bold;
    font-size: 20px;
}

.input-contact { 
    padding: 10px
    border-radius: 10px;
    background-color: #dddddd;
    border-color: #d9d9d9;

}
.submit-contact{
    .text {
        text-align: right;
    }
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}